ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
} /* =============  FOOTER  ============= */

.page-header {
  background-color: #ffffff;
}

.page-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1/17;
  color: #2e2f42;
}

.web-text {
  color: #4d5ae5;
}

.menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.page-adress {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/*  ============  HERO  ============  */

.page-hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
}

/*  ============  QUALITY  ============  */

.title-card-qualitys {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px1.2;
  color: #2e2f42;
}

.text-card-qualitys {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

/*  ============  TEAM  ============  */
.page-team {
  background-color: #f4f4fd;
}
.title-team {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}
.job-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
/*  ============  TEAM PORTFOLIO  ============  */
.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}
.card-portfolio-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

/* ============  FOOTER  ============  */

.page-footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}

.footer-logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
}
.footer-logo-web {
  color: #4d5ae5;
}
.footer-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
